.context-menu{-fx-background-color: transparent}
.menu-item{-fx-background-color: #FFFFFF; -fx-font-family: Times New Roman; -fx-font-size: 12; -fx-text-fill: #000000}
.menu-item:hover{-fx-background-color: #FF0000; -fx-font-family: Times New Roman; -fx-font-size: 12; -fx-text-fill: #000000}